table {
  width: 100%;
  table-layout: fixed;
}
table td {
  width: 100%;
}

th, td {
	text-align: center;
	color: #000;
}
.name {
	text-align: left;
	padding-left: 2vw !important;
	font-size: 120%;
	font-weight: bold;
}
.qty {
	font-size: 120%;
}
.sku {
	font-size: 120%;
}

