h2, th, td {
	text-align: center;
	color: #000;
	border: 1px solid #000;
}
.rubric {
	font-size: 120%;
}
.title {
	font-size: 140%;
}
.sku {
	color: blue;
	font-weight: normal;
}

tr:hover > td {
	background: #ffffbd;
}

.left {
	width: 15vw;
}
.b-lpurpur {background: #cebbe5;}