/*table {
  width: 100%;
  table-layout: fixed;
}
table td {
  width: 100%;
}*/
.container {
	width: 30vw;
}
th, td {
	text-align: center;
	color: #000;
	font-weight: bold;
}

.title {
	color: #fff;
	text-align: center;
	font-size: 140%;
}
.container {
	margin-top: 25px;
}
.name {
	text-align: left;
	font-weight: bold;	
}

.sku {
	color: blue;
	font-weight: normal;
}