h1 {
	text-align: center;
}
.title {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    color: black;
    }
.qty {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    color: black;
}
.sku {
    color: blue;
    text-align: center;
}


/*.b-1heavenly{background:#45C3FE;}
.b-chartreuse{background:#D0FE1E}
.b-pistachio{background:#A2F56D}
.b-mint{background:#95F998}

.b-c-water{background:#D1E9D3}
.c-water{color:#D1E9D3}
.b-g-mint{background:#AFEFDC}
.b-p-yellow{background:#FDFFA4}
.b-banana{background:#F9E397}
.b-apricot{background:#FED898}
.b-citric{background:#F9E639}

.b-sunny-lime{background:#E2ED84}
.sunny-lime{color:#E2ED84}

.b-nacre{background:#D9DDDC}
.nacre{color:#D9DDDC}

.b-vanilla{background:#F9F0D0}
.b-champagne{background:#F2E0AE}

.b-menthol{background:#90E9CB}
.b-lime{background:#E2EE84}
.b-green-lime{background:#A1C42C}
.b-escapes{background:#B9D147}
.escapes{color:#B9D147}
.b-light-green{background:#E2ECA7}*/