h1, h2, h3, h4,h5 { text-align: center; margin: 0;}
hr {
	margin: 0;
	background: #000;
}
table {
  width: 100%;
  table-layout: fixed;
}
table td {
  width: 100%;
}

th, td {
	text-align: center;
	color: #000;
	white-space: nowrap;
}
.title {
	border-right: 1px solid #fff !important;
	color: #eee;
}
.name {
	text-align: left;
	font-size: 100%;
	font-weight: bold;
}
.qty {
	font-size: 120%;
}
.sku {
	font-size: 120%;
}
.letter {color: navy; font-size: 75%;}
.left {
	text-align: left; padding-left: 1vw !important;
	font-size: 120%;
	font-weight: bold;
}

.bordered { border-bottom: 2px solid #000 !important; }

/*.bordered > td, th {
	border-bottom: 2px solid #000 !important;
}*/

.bb {
	border-bottom: 2px solid #000 !important;
}


.slot {
	font-weight: bold;
}


.sb-brown { background: #D09050; }

.sb-coral { background: #F0A090; }

.sb-violet { background: #D0C0F0; }

.sb-grey { background: #A0B0B0; }


.active {
	background: #fff;
}