h1 {
	text-align: center;
}
.title {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: black;
    }
.option {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    color: black;
    }   
.qty {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    color: black;
}
.sku {
    font-size: 130%;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.b-1orange{background: #FCB68E}
.b-2orange{background: #EAD88D}
.b-1gold{background: #FFFCA0}
.b-1green{background: #C4F896}
.b-2green{background: #ADF0D7}
.b-1blue{background: #CDE1FF}
.b-2blue{background: #92BDFF}
.b-3blue{background: #E0EDFD}
.b-4blue{background: #BBD9FA}
.b-5blue{background: #A8CEF9}
.b-6blue{background: #84BAF7}

.b-1red{background: #FFAFA5}

.b-2red{background: #FF9E91}
.b-3red{background: #FFD2CC}

.b-3green{background: #BAF784}
.b-4green{background: #E3FCCD}

.b-1sky{background: #DEFCFD}
.b-2sky{background: #BBF9FA}
.b-3sky{background: #84F3F7}