.center {text-align: center;}
.high {text-align: center;}
td {color: black; text-align: center;}
tbody tr:hover > td { background: #F4ECF7; }
tbody tr:hover > th { background: #F4ECF7; }
.bal{font-size: 1.1em; font-weight: bold;}
.st {font-size: 1.5em; font-weight: bold;}
.shr {font-weight: bold;}


th:nth-child(2){background:#F1948A;}
th:nth-child(3){background:#98C379;}
th:nth-child(4){background:#61AFEF;}
th:nth-child(5){background:#F8C471;}

td:nth-child(1){background:#FDFEFE;}
td:nth-child(2){background:#C6C9CA;}
td:nth-child(3){background:#FDFEFE;}
td:nth-child(4){background:#FDFEFE;}
td:nth-child(5){background:#F1948A; color:blue;}
td:nth-child(6){background:#F1948A;}
td:nth-child(7){background:#F1948A;}
td:nth-child(8){background:#98C379; color:blue;}
td:nth-child(9){background:#98C379;}
td:nth-child(10){background:#98C379;}
td:nth-child(11){background:#61AFEF; color:blue;}
td:nth-child(12){background:#61AFEF;}
td:nth-child(13){background:#61AFEF;}
td:nth-child(14){background:#F8C471; color:blue;}
td:nth-child(15){background:#F8C471;}
td:nth-child(16){background:#F8C471;}
/*popup*/
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease 0s;
}
.popup:target {
	opacity: 1;
	visibility: visible;
}
.popup-area{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popup-body {
	min-height: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup-content {
	background: #ABB2BF;
	color: #282C34;
	max-width: 800px;
	padding: 30px;
	position: relative;
}
.popup-title {
	font-size: 140%;
	margin: 0 0 1em 0;
}