h1 {
    text-align: center;
}
.title {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    color: black;
    }
.option {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    color: black;
    }   
.qty {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    color: black;
}
.sku {
    font-size: 130%;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.b-1grey{background: #E4E5E0}

.b-beige{background: #F6E8CD}
.b-1beige{background: #F4E6E6}
.b-2beige{background: #E3D0D2}
.b-3beige{background: #F5E6BD}

.b-coffee{background: #D9C4B5}
.b-1coffee{background: #CCA993}
.b-2coffee{background: #C1B3B1}