.box-15 {
	padding: 0 15px !important;
}
.box5 {
	margin: 0 5vw !important;
}
.box10 {
	margin: 0 10vw !important;
}
.box15 {
	margin: 0 15vw;
}
.box20 {
	margin: 0 20vw;
}
.box25 {
	margin: 0 25vw;
}
.box30 {
	margin: 0 30vw;
}
.box35 {
	margin: 0 35vw;
}

