table {table-layout: auto;}
.center {text-align: center;}
td {color: black; text-align: center;}
tbody tr:hover > td { background: #FDFDFD; }
tbody tr:hover > th { background: #FDFDFD; }
.title {color: black;}
.name {text-align: center;}
.qty {font-size: 130%;}
span2 {display: inline-block; margin-top: 30%;} /*вертикальное выравнивание*/
span {color: black;}

th:nth-child(3){background:#F5B967;}
th:nth-child(4){background:#d8efae;}
th:nth-child(5){background:#AED6F1;}
th:nth-child(6){background:#8BA9DC;}
th:nth-child(7){background:#d8efae;}

td:nth-child(1){background:#fff;}
td:nth-child(2){background:#c0c0c0;}
td:nth-child(3){background:#F0E68C;}
td:nth-child(4){background:#F0E68C;}
td:nth-child(5){background:#F0E68C; color:blue;}
td:nth-child(6){background:#F5B967;}
td:nth-child(7){background:#F5B967;}
td:nth-child(8){background:#F5B967; color:blue;}
td:nth-child(9){background:#d8efae;}
td:nth-child(10){background:#d8efae;}
td:nth-child(11){background:#d8efae; color:blue;}
td:nth-child(12){background:#AED6F1;}
td:nth-child(13){background:#AED6F1;}
td:nth-child(14){background:#AED6F1; color:blue;}
td:nth-child(15){background:#8BA9DC;}
td:nth-child(16){background:#8BA9DC;}
td:nth-child(17){background:#8BA9DC; color:blue;}
td:nth-child(18){background:#d8efae;}
td:nth-child(19){background:#d8efae;}
