/*колонки одинаковой ширины*/
table {
  width: 100%;
  table-layout: fixed;
}
table td {
  width: 100%;
}
.b-bronz{
    background:#cd7f32;
}
tr:hover > td{
   background:#eee;
}
.option {
	text-align: left;
	padding-left: 20px !important;
}